body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.btn {
    width: 200px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.btn-primary {
    color: white;
    background-color: #3A95FF;
}
.btn-secondary {
    border: 1px solid #3A95FF;
    color: #3A95FF;
}
.header-top {
    border: 1px solid #DEDEDE;
}
.header-top-info {
    display: flex;
    justify-content: space-between;
    height: 67px;
    align-items: center;
}
.top-menu {
    width: 945px;
    display: flex;
    justify-content: space-between;
}
.top-menu-list {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;
}
.top-menu-list a{
    color: #424242;
}
.top-menu-list-left {
    width: 352px;
}
.top-menu-list-left a {
    text-decoration: none;
}
.top-menu-list-right {
    width: 340px;
}
.list-blue {
    color: #3A95FF;
    font-weight: 600;
}
.list-blue1 a {
    text-decoration: none;
}
.main-menu-list {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu-list a {
    text-decoration: none;
    color: #424242;
    font-size: 16px;
    font-weight: 500;
}
.main-banner {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.main-banner-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-offer-text {
    font-weight: 600;
    font-size: 52px;
    line-height: 110%;
    color: #212121;
    margin-bottom: 63px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    width: 437px;
}
.suggestions-h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #212121;
    margin-top: 70px;
    margin-bottom: 25px;
}
.suggestions-p {
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 70px;
}
.suggestions-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.suggestions-card-info {
    display: flex;
    justify-content: space-between;
    background: #EFF2F5;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 555px;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 62px;
}
.suggestions-card-info-img {
    width: 262px;
    height: 300px;
    border-radius: 0 8px 8px 0;
}
.suggestions-card-info-text {
    padding-left: 34px;
    padding-top: 34px;
}
.suggestions-card-info-text-h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #212121;
    margin-top: 0;
    margin-bottom: 24px;
}
.suggestions-card-info-text-p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #424242;
    margin: 0;
}
.credits {
    background: #EFF2F5;
}
.credits-60 {
    background: #E0E5EA;
    box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25), 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    box-sizing: border-box;
}
.credits-60-head {
    display: flex;
    justify-content: space-between;
    width: 650px;
}
.credits-60-head p {
    font-weight: 600;
    font-size: 38px;
    line-height: 130%;
    color: #212121;
}
.credits-60-items {
    display: flex;
    justify-content: space-between;
    width: 545px;
    margin-bottom: 40px;
}
.credits-60-item {
    text-align: center;
}
.credits-60-item p {
    margin: 0;
    padding: 8px;
}

.credits-60-item-head {
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    color: #212121;
    border-bottom:  1px solid #3A95FF;

}
.credits-side-link {
    background: #F7F7F7;
    box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25), 5px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-bottom: 5px solid #3A95FF;
    width: 360px;
    height: 235px;
    display: flex;
    justify-content: space-between;
    padding: 34px;
    box-sizing: border-box;
}
.credits-side-link img {
    align-self: flex-end;
}
.credits-info {
    display: flex;
    justify-content: space-between;
}
.credits-wrap {
    display: flex;
    align-items: 775px;
}
.get-card-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.get-card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {

}