body, html {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
header {
  height: 60px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu {
  background-color: blueviolet;
  flex: 1 1 auto;
}
.main-menu-list {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.main-section {
  background-color: coral;
  flex: 7;
  display: flex;
  flex-wrap: wrap;
}
.main-section-item {
  background-color: bisque;
  width: calc(50% - 20px);
  padding: 15px;
  box-sizing: border-box;
  margin: 10px;
}
.sidebar-right {
  background-color: darkturquoise;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.news {
  background-color: tomato;
}
footer {
  background-color: yellowgreen;
  height: 150px;
}
.content {
  display: flex;
  flex-grow: 1;
  min-width: 100ph
  ;
}
.wrap {
  display: flex;
  flex-direction: column;
}
.wrap1 {
  margin: 0 auto;
}
