body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;

}
header {
    height: 60px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu {
    background-color: blueviolet;
    
}
.main-menu-list {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.main-section {
    background-color: coral;
    flex: 7;
    display: flex;
    flex-wrap: wrap;
}
.main-section-item {
    background-color: bisque;
    width: calc(50% - 20px);
    padding: 15px;
    box-sizing: border-box;
    margin: 10px;
}
.sidebar-right {
    background-color: darkturquoise;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.news {
    background-color: tomato;
}
footer {
    background-color: yellowgreen;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
}

